body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
    /* Add padding to avoid content being hidden behind fixed navbar */
    background-color: #f8f9fa;
}


/* Menambahkan transisi pada navbar */


/* Profile Section */

.profile-section {
    max-width: 150px;
    border: 3px solid #6f42c1;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.img-fluid {
    max-width: 94%;
    border-radius: 10%;
    height: 87%;
}

.profile-section :hover {
    transform: scale(1.1);
}

.profile-section h2,
.profile-section h3 {
    font-weight: bold;
}

.profile-section p {
    margin: 5px 0;
}

.profile-section .btn {
    margin-top: 199px;
    transition: background-color 0.3s, color 0.3s;
}

.profile-section .btn:hover {
    background-color: #6f42c1;
    color: #ffffff;
}


/* Tasks Section */

.task-column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.column-title {
    font-size: 20px;
    font-weight: bold;
    color: #6f42c1;
    margin-bottom: 20px;
}

.badge-category {
    background-color: #6f42c1;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.task-date {
    font-size: 12px;
    color: #888888;
    margin-top: 5px;
}

.task-card p {
    margin: 5px 0;
}


/* Marketing Bootcamp Section */

.bootcamp-header {
    display: flex;
    align-items: center;
}

.bootcamp-icon {
    width: 50px;
    height: 50px;
}

.timeline {
    margin-top: 20px;
    position: relative;
}

.timeline-row {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
}

.timeline-label {
    font-weight: bold;
    color: #333;
    width: 30%;
    display: inline-block;
}

.timeline-bar {
    background-color: #9a74ff;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 84%;
    transform: translateY(-25%);
    z-index: 1;
}

.language-selection h4 {
    margin-bottom: 10px;
}

.language-selection .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f42c1;
    border: none;
    transition: background-color 0.3s;
}

.language-selection .btn i {
    margin-right: 5px;
}

.language-selection .btn:hover {
    background-color: #563d7c;
}

.btn-primary {
    background-color: #6f42c1;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #563d7c;
    color: #ffffff;
}