html,
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

* {
    text-decoration: none;
    list-style-type: none;
}

/* Navbar */

.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 3px solid #5940cb;
}

.navbar-nav .nav-item .nav-link {
    color: #000000;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #5940cb;
    text-decoration: underline;
}

/* Footer */

.footer {
    background-color: #5940cb;
    color: #ffffff;
    height: 167px;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
}

.footer ul {
    text-decoration: none;
    list-style-type: none;
}

.footer ul li {
    color: #fff;
    font-size: 12px;
}

.span-footer {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.sosmed {
    gap: 10px;
}

.sosmed a {
    color: #fff;
    gap: 30px;
    margin: 0 10px;
}

.col-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* General Styles */

/* Project Title */

.project-title,
.project-titlee,
.done-projects-title {
    font-weight: bold;
    border-left: 4px solid #6c63ff;
    padding-left: 10px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    right: -15px;
}

.done-projects-titlee {
    font-weight: bold;
    border-left: 4px solid #6c63ff;
    padding-left: 10px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    top: -33px;
    right: -100px;
}

/* Input Group */

.input-group {
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 71%;
    margin-top: 20px;
    right: -10px;
}

.search-input {
    border: 1px solid #c5c5f7;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.search-icon {
    background-color: #ffffff;
    border: 1px solid #c5c5f7;
    border-left: none;
    color: #948d8d;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    /* Centering icon */
    justify-content: center;
    /* Centering icon */
}

/* Create Project Button */

.btn-create-project {
    background-color: #6c63ff;
    border: none;
    border-radius: 14px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    /* Adjusted for better spacing */
}

.btn-create-project:hover {
    background-color: #574dcf;
}

/* No Projects Section */

.no-projects {
    background-color: #f6f6ff;
    border: 1px solid #e2e2f7;
    border-radius: 28px;
    padding: 55px;
    text-align: center;
    color: #555;
    width: 88%;
    margin: 0 auto;
    position: relative;
    top: -40px;
    right: -4px;
    flex: 0 0 96%;
}

.no-projects p {
    margin: 0;
    font-weight: bold;
}

/* See All Link */

.see-all {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: -28px;
    right: 145px;
}

.see-all:hover {
    text-decoration: underline;
}

/* All Projects Title */

.all-projects-title {
    font-weight: bold;
    margin-top: 100px;
    font-size: 20px;
    position: relative;
    top: -32px;
    right: -89px;
}

/* Table */

.table thead th {
    background-color: #c5c5f7;
    border: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    position: relative;
}

.tablee {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    position: relative;
}

.table tbody tr td {
    background-color: #f6f6ff;
    padding: 10px;
    color: #555;
    text-align: center;
}

/* Dropdown Toggle */

.dropdown-toggle {
    border-radius: 30px;
    padding: 5px 15px;
    color: #6c63ff;
    border: 1px solid #6c63ff;
}

/* Pagination */

.pagination .page-item.active .page-link {
    background-color: #6c63ff;
    border-color: #6c63ff;
    color: #fff;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    position: relative;
    top: -20px;
}

.pagination .page-link {
    color: #6c63ff;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
}

/* Done Projects Card */

.done-projects-card {
    width: 88%;
    position: relative;
    right: -91px;
    top: -18px;
    padding: 20px;
    border-radius: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.done-projects-header {
    background-color: #f8f9fa;
    border-bottom: none;
    font-weight: bold;
    font-size: 18px;
}

.done-projects-table thead th {
    background-color: #c5c5f7;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.done-projects-table tbody tr td {
    background-color: #e7e7ff7a;
    padding: 15px;
    color: #555;
    text-align: center;
}

.done-projects-dropdown-toggle {
    border-radius: 30px;
    padding: 10px 20px;
    color: #6c63ff;
    border: 1px solid #6c63ff;
    font-size: 18px;
}

.done-projects-dropdown-toggle .fas {
    font-size: 20px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .brand-info,
    .footer-links,
    .social-media {
        flex-basis: 100%;
        text-align: center;
    }
    .footer {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
    .footer-nav ul {
        position: relative;
        top: auto;
        right: auto;
    }
}

/* Style for ongoing projects title */

.ongoing-projects-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333;
    position: relative;
    top: -22px;
    right: -100px;
    border-left: 4px solid #6c63ff;
    padding-left: 10px;
}

.ongoing-projects-filters {
    margin-top: 3rem;
    /* Adjust the top margin as needed */
    position: relative;
    /* Required for top property to work */
    top: -1px;
    /* Adjust the top position as needed */
}

/* Targeting the buttons inside ongoing-projects-filters */

.ongoing-projects-filters .btn {
    margin-left: 101px;
    margin-right: 70px;
}

.banner {
    background: url("images/26.png") no-repeat center center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 0;
    bottom: 0;
    left: 94px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 88%;
}

.banner h1 {
    z-index: 2;
}

.stats-box {
    border: 1px solid #e2e2f7;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
}

.stats-box h4 {
    font-size: 1.2rem;
    color: #555;
}

.stats-box .number {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.text-success {
    color: #28a745 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.stats-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.stats-header {
    background-color: #3b6978;
    color: white;
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.stats-value {
    font-size: 1.5rem;
}

.completion-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.total-responses {
    font-size: 3rem;
    color: #28a745;
    margin-top: 103px;
    position: relative;
    top: -50px;
}

.responses-text {
    font-size: 1.2rem;
    color: #555;
}

.responses-line {
    width: 80%;
    height: 2px;
    background-color: #6c63ff;
    margin: 10px auto 0;
}

/* Performance Card */

.performance-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.performance-header {
    background-color: #ffffff;
    color: #333;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

#performance-chart {
    width: 100%;
    height: 150px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.start-survey-btn {
    background-color: #6c63ff;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
}

.start-survey-btn:hover {
    background-color: #574dcf;
}

.schedule-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    border-left: 4px solid #6c63ff;
    padding-left: 10px;
}

/* Schedule Box */

.schedule-box {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Calendar */

.calendar {
    background-color: #e6e6fa;
    border-radius: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header .month {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.calendar-header .view-options a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.calendar-header .view-options a.active {
    color: #6c63ff;
}

.tableee {
    background-color: #e6e6fa;
    font-size: 3px;
}

.tableee th,
.tableee td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.tableee th {
    font-weight: bold;
    color: #333;
}

.tableee td {
    background-color: #ffffff;
    border-radius: 5px;
}

.project-card {
    margin-bottom: 20px;
}

.project-card .card-title {
    font-weight: bold;
    color: #333;
}

.project-card .progress {
    height: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
}

.project-card .progress-bar {
    background-color: #6c63ff;
}

.btn-secondary {
    background-color: #6c63ff;
    border: none;
    margin-right: 10px;
}

.btn-secondary:hover {
    background-color: #574dcf;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    color: #050505;
}

.download-icon {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.present {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.absent {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-create-new-project,
.btn-create-project {
    background-color: #6c63ff;
    border: none;
    border-radius: 14px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
}

.btn-create-new-project:hover {
    background-color: #574dcf;
}

.btn-detail {
    background-color: #6c757d;
    /* Warna abu-abu */
    border-color: #6c757d;
    /* Warna border abu-abu */
    color: #ffffff;
    /* Warna teks putih */
}

.btn-detail:hover {
    background-color: #5a6268;
    /* Warna abu-abu lebih gelap saat hover */
    border-color: #545b62;
    /* Warna border abu-abu lebih gelap saat hover */
}

/* 
/* Efek loading */

/* 
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}

#loading img {
    width: 100px;
    /* Ukuran gambar loading */

/* 
height: 100px;

/* Ukuran gambar loading */

/* animation: spin 1s linear infinite;

}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} */

*/ */
/* Animasi umum untuk elemen lainnya */


/* 
.content-container h1,
.date-box,
.chart-container,
.analysis-matrix .content-box,
.target-check .target-check-box,
.icon-box .icon-item,
.btn {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content-container h1:hover,
.date-box:hover,
.chart-container:hover,
.analysis-matrix .content-box:hover,
.target-check .target-check-box:hover,
.icon-box .icon-item:hover,
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */


/* Menambahkan transisi pada navbar */

.navbar {
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: #e3e3e3;
}

.navbar-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Menghapus underline pada teks tautan */
    display: inline-block; /* Membuat tautan tampil sebagai blok inline */
}

.navbar-button:hover {
    background-color: #333333;
}
