@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body {
    font-family: "Roboto", sans-serif;
    padding-top: 70px;
    padding-bottom: 140px;
    /* Add padding to avoid content being hidden behind fixed navbar */
    background-color: #ffffff;
    font-family: "Quicksand", sans-serif;
}

.navbar {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 3px solid #5940cb;
}

.navbar-nav {
    margin-left: 10px;
    margin-right: auto;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin-left: -580px;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    margin-right: 20px;
}

.footer {
    background-color: #5940cb;
    color: #ffffff;
    padding: 48px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 1000;
}

.footer-container {
    max-width: 594px;
    margin: 0 auto;
}

.content {
    background-color: #F7F6FB;
    width: 1220px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 50px 50px;
    text-align: justify;
}

.form-control {
    height: 47px;
    width: 702px;
    border: 2px solid #5940CB;
}

.angka {
    height: 54px;
    width: 35px;
    background-color: #5940CB;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
}

.row {
    gap: 24px;
}

.form-control-select {
    width: 315px;
    height: 49px;
    background-color: #5940CB;
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.sub-content {
    background-color: #E5E2F2;
    width: 100%;
    height: 182px;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-lihat {
    width: 226px;
    height: 49px;
    background-color: white;
    border: 3px solid #5940CB;
    border-radius: 6px;
    color: #5940CB;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.btn-mulai,
.btn-akhiri {
    width: 379px;
    height: 49px;
    background-color: #5940cb;
    border: 3px solid #5940CB;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.btn-simpan {
    width: 240px;
    height: 49px;
    background-color: #5940cb;
    border: 3px solid #5940CB;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-top: 55px;
}

.hidden {
    display: none;
}

.radio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-item input {
    margin-bottom: 5px;
}

.form-esay,
.form-pilihan-ganda,
.form-skala {
    padding: 20px;
    border-radius: 5px;
}

.btn-tambah {
    width: 315px;
    height: 49px;
    background-color: #5940cb;
    border: 3px solid #5940CB;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

button {
    width: 399px;
    height: 49px;
    background-color: #5940cb;
    border: none;
    border-radius: 6px;
    color: white;
}

.btn-tambah-bagian {
    font-size: 32px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-info h3 {
    margin: 0;
    font-size: 20px;
    position: absolute;
    right: 860px;
    top: 20px;
}

.brand-info p {
    margin-top: 5px;
    font-size: 14px;
    position: absolute;
    top: 50px;
    right: 750px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 280px;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav ul li:last-child {
    margin-right: 0;
}

.footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.social-media {
    margin-right: auto;
    position: absolute;
    top: 29px;
    right: 23px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.footer-description {
    margin-top: 20px;
    font-size: 14px;
}

.footer-social-media {
    margin-bottom: -10px;
    /* Jarak antara teks Social Media dan ikon */
    position: relative;
    top: -19px;
    right: -5px;
}

.metric-item:hover {
    filter: brightness(0.95);
}

.metric-checkbox {
    width: 20px;
    height: 20px;
}

.text-primary {
    color: #5940cb !important;
}