<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Handler untuk PHP 7.4
    AddHandler application/x-httpd-php74 .php

    # Redirect permintaan aset ke folder public
    RewriteRule ^(images|css|js|fonts)/(.*)$ public/$1/$2 [L]

    # Aturan-aturan yang ada
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Handle Header Otorisasi
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect trailing slashes jika bukan folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Kirim Permintaan ke Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
